In [17]:
import numpy as np


def get_bernoulli_confidence_interval(values: np.array):
    """Вычисляет доверительный интервал для параметра распределения Бернулли.

    :param values: массив элементов из нулей и единиц.
    :return (left_bound, right_bound): границы доверительного интервала.
    """
    k = values.sum()
    n = values.shape[0]
    h = k/n
    d = 1.96*np.sqrt(h*(1-h)/n)
    left_bound = h - d
    right_bound = h + d
    if left_bound<0:
        left_bound = 0
    if right_bound<0:
        right_bound = 0
    if left_bound>1:
        left_bound = 1
    if right_bound>1:
        right_bound = 1    
    return (left_bound, right_bound)

In [96]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind

def check_ttest(a, b, alpha=0.05):
    """Тест Стьюдента. Возвращает 1, если отличия значимы."""
    _, pvalue = ttest_ind(a, b)
    return int(pvalue < alpha)

def estimate_first_type_error(df_pilot_group, df_control_group, metric_name, alpha=0.05, n_iter=10000, seed=None):
    """Оцениваем ошибку первого рода.

    Бутстрепим выборки из пилотной и контрольной групп тех же размеров, считаем долю случаев с значимыми отличиями.
    
    df_pilot_group - pd.DataFrame, датафрейм с данными пилотной группы
    df_control_group - pd.DataFrame, датафрейм с данными контрольной группы
    metric_name - str, названия столбца с метрикой
    alpha - float, уровень значимости для статтеста
    n_iter - int, кол-во итераций бутстрапа
    seed - int or None, состояние генератора случайных чисел.

    return - float, ошибка первого рода
    """
    pilot_group_bootstrap = np.random.choice(df_pilot_group[metric_name], size=(n_iter, df_pilot_group[metric_name].shape[0]))
    control_group_bootstrap = np.random.choice(df_control_group[metric_name], size=(n_iter, df_control_group[metric_name].shape[0]))
    result = np.sum([check_ttest(a,b,alpha=alpha) for a,b in zip(pilot_group_bootstrap, control_group_bootstrap)])/n_iter
    return result

In [61]:
a = pd.Series(np.random.normal(0, 1, 100))
b =  pd.Series(np.random.normal(0, 1, 10))

ttest_ind(a,b)

TtestResult(statistic=np.float64(-0.8774075530352687), pvalue=np.float64(0.3822129500658209), df=np.float64(108.0))

In [88]:
df_pilot_group = pd.DataFrame(np.random.normal(0, 1, 100), columns = ['test'])
df_control_group = pd.DataFrame(np.random.normal(0, 1, 10), columns = ['test'])
df_control_group

       test
0  0.009283
1 -0.439480
2  0.110065
3 -0.399118
4 -0.639541
5  0.047111
6  1.120503
7  1.024762
8 -1.205633
9  0.123869

In [98]:
estimate_first_type_error(df_pilot_group=df_pilot_group, df_control_group=df_control_group, metric_name='test', alpha = 0.05, n_iter = 10000)

np.float64(0.0057)

In [92]:
pilot_group_bootstrap = np.random.choice(df_pilot_group['test'], size=(10000, df_pilot_group['test'].shape[0]))
control_group_bootstrap = np.random.choice(df_control_group['test'], size=(10000, df_control_group['test'].shape[0]))
[check_ttest(a,b,alpha=0.05) for a,b in zip(pilot_group_bootstrap, control_group_bootstrap)]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [95]:
pilot_group_bootstrap

array([[-0.69502936, -1.09868483, -0.45130085, ..., -0.60102315,
        -0.37030638,  2.17139869],
       [ 0.02386922, -0.63847435, -0.26042856, ...,  0.49991035,
         2.16977413, -0.63381799],
       [ 0.33507333, -0.60102315,  0.33338868, ...,  1.7753182 ,
         0.58577912,  0.14506521],
       ...,
       [-0.68036353,  0.58577912,  0.75568994, ..., -0.83325593,
         0.71027418, -0.54954315],
       [-2.51897184, -2.21588986, -1.44581368, ...,  0.33338868,
        -0.06302204, -0.11288459],
       [ 2.02526922, -0.68036353, -0.63847435, ...,  1.04101695,
         0.50442877,  0.62087815]])

In [105]:
from scipy.stats import ttest_ind


def estimate_second_type_error(df_pilot_group, df_control_group, metric_name, effects, alpha=0.05, n_iter=10000, seed=None):
    """Оцениваем ошибки второго рода.

    Бутстрепим выборки из пилотной и контрольной групп тех же размеров, добавляем эффект к пилотной группе,
    считаем долю случаев без значимых отличий.
    
    df_pilot_group - pd.DataFrame, датафрейм с данными пилотной группы
    df_control_group - pd.DataFrame, датафрейм с данными контрольной группы
    metric_name - str, названия столбца с метрикой
    effects - List[float], список размеров эффектов ([1.03] - увеличение на 3%).
    alpha - float, уровень значимости для статтеста
    n_iter - int, кол-во итераций бутстрапа
    seed - int or None, состояние генератора случайных чисел

    return - dict, {размер_эффекта: ошибка_второго_рода}
    """
    pilot_group_bootstrap = np.random.choice(df_pilot_group[metric_name], size=(n_iter, df_pilot_group[metric_name].shape[0]))
    control_group_bootstrap = np.random.choice(df_control_group[metric_name], size=(n_iter, df_control_group[metric_name].shape[0]))
    result = {}
    for effect in effects:
        res = 1-np.sum([check_ttest(a,b,alpha=alpha) for a,b in zip(pilot_group_bootstrap*effect, control_group_bootstrap)])/n_iter
        result[effect]=res
    return result

In [56]:
import pandas as pd


def calculate_sales_metrics(df, cost_name, date_name, sale_id_name, period, filters=None):
    """Вычисляет метрики по продажам.
    
    df - pd.DataFrame, датафрейм с данными. Пример
        pd.DataFrame(
            [[820, '2021-04-03', 1, 213]],
            columns=['cost', 'date', 'sale_id', 'shop_id']
        )
    cost_name - str, название столбца с стоимостью товара
    date_name - str, название столбца с датой покупки
    sale_id_name - str, название столбца с идентификатором покупки (в одной покупке может быть несколько товаров)
    period - dict, словарь с датами начала и конца периода пилота.
        Пример, {'begin': '2020-01-01', 'end': '2020-01-08'}.
        Дата начала периода входит в полуинтервал, а дата окончания нет,
        то есть '2020-01-01' <= date < '2020-01-08'.
    filters - dict, словарь с фильтрами. Ключ - название поля, по которому фильтруем, значение - список значений,
        которые нужно оставить. Например, {'user_id': [111, 123, 943]}.
        Если None, то фильтровать не нужно.

    return - pd.DataFrame, в индексах все даты из указанного периода отсортированные по возрастанию, 
        столбцы - метрики ['revenue', 'number_purchases', 'average_check', 'average_number_items'].
        Формат данных столбцов - float, формат данных индекса - datetime64[ns].
    """
    df[date_name]=pd.to_datetime(df[date_name])
    filtered_df = df
    if not(filters is None):
        for key, value in filters.items():
            filtered_df = filtered_df[filtered_df[key].isin(value)]

    filtered_df = filtered_df[(filtered_df[date_name]>=period['begin']) & (filtered_df[date_name]<period['end'])]
    sale_df = filtered_df.groupby(sale_id_name).agg(
        sale_cost = (cost_name, 'sum'),
        number_of_poisitions = (cost_name, 'count'),
        date = (date_name, 'min'))
    res = sale_df.groupby(date_name).agg(
        revenue = ('sale_cost', 'sum'),
        number_purchases = ('sale_cost', 'count'),
        average_check = ('sale_cost', 'mean'),
        average_number_items = ('number_of_poisitions', 'mean'))
    res = res.astype(float)
    res = res.sort_index(ascending=True)
    begin = pd.to_datetime(period['begin'])
    end = pd.to_datetime(period['end'])
    date = pd.to_datetime(begin)
    dates = []
    while date<end:
        dates.append(date)
        date = date + pd.DateOffset(days=1)
    result = res.join(pd.DataFrame(index=pd.Index(dates, name='date')),how = 'outer').fillna(0)
    return result

In [1]:
import pandas as pd
df = pd.DataFrame(
            [[820, '2021-04-03', 1, 213], 
             [820, '2021-04-03', 1, 213], 
             [620, '2021-04-03', 1, 213],
             [520, '2021-04-03', 1, 213],
             [820, '2021-04-04', 2, 213], 
             [720, '2021-04-04', 2, 213], 
             [620, '2021-04-03', 3, 213],
             [520, '2021-04-03', 4, 213],
             [520, '2021-04-03', 5, 213]],
            columns=['cost', 'date', 'sale_id', 'shop_id']
        )

In [7]:
cost = df['cost'].to_list()
sale_id = df['sale_id'].to_list()
pd.DataFrame(zip(cost, sale_id), columns = ['cost', 'sale_id'])

   cost  sale_id
0   820        1
1   820        1
2   620        1
3   520        1
4   820        2
5   720        2
6   620        3
7   520        4
8   520        5

In [14]:
d = {key:value for key, value in zip(cost, sale_id)}
pd.DataFrame(d)

ValueError: If using all scalar values, you must pass an index

In [14]:
df[(df['date']<='2021-04-03')&(df['date']>'2020-04-03')]

   cost       date  sale_id  shop_id
0   820 2021-04-03        1      213
1   820 2021-04-03        1      213
2   620 2021-04-03        1      213
3   520 2021-04-03        1      213
6   620 2021-04-03        3      213
7   520 2021-04-03        4      213
8   520 2021-04-03        5      213

In [57]:
calculate_sales_metrics(df = df, cost_name='cost', date_name='date', sale_id_name='sale_id', period={'begin': '2020-01-01', 'end': '2022-01-08'}, filters = {'sale_id':[1, 2]})

            revenue  number_purchases  average_check  average_number_items
date
2020-01-01      0.0               0.0            0.0                   0.0
2020-01-02      0.0               0.0            0.0                   0.0
2020-01-03      0.0               0.0            0.0                   0.0
2020-01-04      0.0               0.0            0.0                   0.0
2020-01-05      0.0               0.0            0.0                   0.0
...             ...               ...            ...                   ...
2022-01-03      0.0               0.0            0.0                   0.0
2022-01-04      0.0               0.0            0.0                   0.0
2022-01-05      0.0               0.0            0.0                   0.0
2022-01-06      0.0               0.0            0.0                   0.0
2022-01-07      0.0               0.0            0.0                   0.0

[738 rows x 4 columns]

In [36]:
period={'begin': '2021-04-01', 'end': '2021-04-08'}

In [22]:
date = pd.to_datetime(period['begin'])
date + pd.DateOffset(days=1)

Timestamp('2020-01-02 00:00:00')

In [37]:
begin = pd.to_datetime(period['begin'])
end = pd.to_datetime(period['end'])
date = pd.to_datetime(begin)
dates = []
while date<end:
    dates.append(date)
    date = date + pd.DateOffset(days=1)

dates

[Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-03 00:00:00'),
 Timestamp('2021-04-04 00:00:00'),
 Timestamp('2021-04-05 00:00:00'),
 Timestamp('2021-04-06 00:00:00'),
 Timestamp('2021-04-07 00:00:00')]

In [48]:
ddd = pd.DataFrame(index=pd.Index(dates, name='date'))

In [51]:
sm.join(ddd, how='outer').fillna(0)

            revenue  number_purchases  average_check  average_number_items
date
2021-04-01      0.0               0.0            0.0                   0.0
2021-04-02      0.0               0.0            0.0                   0.0
2021-04-03   2780.0               1.0         2780.0                   4.0
2021-04-04   1540.0               1.0         1540.0                   2.0
2021-04-05      0.0               0.0            0.0                   0.0
2021-04-06      0.0               0.0            0.0                   0.0
2021-04-07      0.0               0.0            0.0                   0.0

In [43]:
ddd

           revenue number_purchases average_check average_number_items
2021-04-01     NaN              NaN           NaN                  NaN
2021-04-02     NaN              NaN           NaN                  NaN
2021-04-03     NaN              NaN           NaN                  NaN
2021-04-04     NaN              NaN           NaN                  NaN
2021-04-05     NaN              NaN           NaN                  NaN
2021-04-06     NaN              NaN           NaN                  NaN
2021-04-07     NaN              NaN           NaN                  NaN

In [4]:
data_grouped = df.groupby('group').agg(
    traffic = ('group', 'count'),
    revenue_phones = ('cost_phones', 'sum'),
    revenue_cases = ('cost_cases', 'sum'),
    revenue_accessories = ('cost_accessories', 'sum')
)

KeyError: "Column(s) ['cost_accessories', 'cost_cases', 'cost_phones'] do not exist"

In [106]:
estimate_second_type_error(df_pilot_group=df_pilot_group, df_control_group=df_control_group, metric_name='test', effects = [1.03, 1.1, 1.001], alpha = 0.05, n_iter = 10000)

{1.03: np.float64(0.9954), 1.1: np.float64(0.9972), 1.001: np.float64(0.9944)}

In [29]:
URL_BASE = 'https://raw.githubusercontent.com/statistics-datasets/kc/main/'

def read_database(file_name):
    return pd.read_csv(URL_BASE + file_name, index_col=0)

data = read_database('sem2_task1.csv')

data.head()

   day  cost_phones  cost_cases  cost_accessories    group
0    1        21900        2300              3300  control
1    1        43400           0                 0  control
2    1        31500           0                 0  control
3    1        31000           0                 0  control
4    1        50400        2300              5100  control

In [3]:
import numpy as np
import pandas as pd

URL_BASE = 'https://raw.githubusercontent.com/statistics-datasets/kc/main/'

def read_database(file_name):
    return pd.read_csv(URL_BASE + file_name)

df = read_database('sem3_data.csv')
df.sample(5)

        group       ОС  age  inapp_prev_week  inapp
784     pilot      ios   29                0      0
188     pilot  android   16                0      0
1698  control  android   40                0      0
1537  control  android   37                0      0
1013  control      ios   31                0      0

In [6]:
gdf = df.groupby(['group', 'ОС'])['inapp'].apply(lambda f: f.to_numpy())

In [18]:
np.random.choice(a=gdf[gdf.index[0]], size = 10)

array([ 0,  0,  0,  0,  0,  0,  0, 90,  0,  0])